.App {
  text-align: center;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(45deg, #14427c, #428cff);
}

main {

  color: #151515;
}

.p1r {
  padding: 1rem;
}

.m1r {
  margin: 1rem;
}

.mt1r {
  margin-top: 1rem;
}

.mtb1r {
  margin: 1rem 0;
}

.cl-dw {
  color: #efefef;
}

